
#title{
    background: linear-gradient(
        to right, 
        hsl(98 100% 62%), 
        hsl(204 100% 59%)
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-align: center;
    grid-column-start: line3;
    grid-column-end: line4;
    text-align: center;

}

p{
    color: #BEA57D;
}




/*This more like a global body grid settings, should barely touch this, unless you want to put content on the side*/
.container{
    background-image: url('images/backdrop2-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;

    grid-template-columns: [line1] 40px [line2] 50px [line3] auto [line4] 50px [line5] 40px [endline];
    grid-template-rows: [line1r] 1fr [line2r] auto [line3r] 4fr [last-line];
    
}






/*////////////////////////////////////////////////////////////////////////////////////////////////*/
/*This is for the article block level to fix alignments and grid spanning refer to below settings*/

.blockofarticles{
    display: grid;
    /* background-color: darkgray;
    opacity: .4; */
    grid-column-start: line3;
    grid-column-end: line4;
    grid-row-start: line2r;
    grid-row-end: line3r;


    grid-template-columns: [articleline6]1fr[articleline7]1fr[articleline8]1fr [articleline9]1fr [articleline10];
    grid-template-rows: [articlerow4] 1fr [articlerow5] 1fr [articlerow6] 1fr [articlerowline7];
    
}




article{
    border-radius: 5px;
    padding-bottom: 50px;
    box-sizing: border-box;
    
}
h2{

    color: silver;

}


/* removed colors from article ids to test out image and opacity just uncomment to return back to normal */
#html{
    /* background-color: #2D93AD; */
    background-color: rgba(190, 165, 125, .6);
    grid-column-start: articleline6;
    grid-column-end: articleline9;

}



#css{
    /* background-color: #DE8F6E; */
    background-color: rgba(165, 36, 34, .6);
    grid-column-start: articleline6;
    grid-column-end: articleline9;

}

#javascript{
    /* background-color: #DBD56E; */
    background-color: rgba(164,186,183, .6);
    grid-column-start: articleline6;
    grid-column-end: articleline9;

}

body{
    background-color: #7D7C84;
    font-family: "Dank Mono", ui-monospace, monospace;
}

#htmlphotocontainer{
    display: flex;
    grid-column-start: articleline9;
    grid-column-end: articleline10;
    grid-row-start: articlerow4;
    grid-row-end: articlerow5;
    align-items: center;
    justify-content: center;
    
}
#photoofhtml{
    max-width: 400px; 
    max-height: 400px;
}

#cssphotocontainer{
    display: flex;
    grid-column-start: articleline9;
    grid-column-end: articleline10;
    grid-row-start: articlerow5;
    grid-row-end: articlerow6;
    align-items: center;
    justify-content: center;
    
}
#photoofcss{
    max-width: 400px; 
    max-height: 400px;
}

#javascriptphotocontainer{
    display: flex;
    grid-column-start: articleline9;
    grid-column-end: articleline10;
    grid-row-start: articlerow6;
    grid-row-end: articlerow7;
    align-items: center;
    justify-content: center;
    
}
#photoofjavascript{
    max-width: 400px; 
    max-height: 400px;
}